.services-comp {
    padding: $thm-base-padding;
    h2 {
        font-size: $thm-font-xlrg;
        line-height: 130%;
        margin: $thm-base-margin auto;
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.service {
    padding: 1rem;
    box-shadow: $thm-bs-1;
    background-color: $thm-light;
    &:not(:last-child) {
        margin-bottom: $thm-base-margin;
    }
    p {
        line-height: $thm-content-line-height;
    }
}

.service__header {
    h3 {
        color: $thm-primary;
    }
}