.call-now-banner {
    padding: $thm-base-padding;
    background-color: $thm-light;
    margin: $thm-base-margin;
    box-shadow: $thm-bs-3;
    @include flex(column, nowrap, center, center);
    p {
        font-size: $thm-font-medlrg;
        font-weight: bold;
    }
    @include bp($thm-bp-sml) {
        // @include flex(row, nowrap, center, center);
        .call-now-banner__btn {
            max-width: 300px;
            margin-left: $thm-base-margin;
        }
    }
}