@keyframes transition {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.insurance-comp__image {
    max-height: 150px;
    height: 150px;
    animation: transition 2500ms linear infinite;
 }

.insurance-comp__link {
    color: $thm-dark;
    text-decoration: none;
    line-height: $thm-content-line-height;
}

