table {
  width: 100%;
  border-collapse: collapse;
  @include print {
    width: 100vw;
    overflow: hidden;
  }
}

td,
th {
  text-align: left;
  padding: 0.5rem 1rem;
  @include print {
    padding: 0.5rem;
  }
}

tr {
  @include print {
    width: 100vw;
  }
}

tr:not(:last-of-type) {
  border-bottom: 2px solid $thm-light-grey;
  @include print {
    border-bottom: none;
  }
}

thead {
  background-color: $thm-light-grey;
  border: 2px solid black;
}
